__pycache__/
*.py[cod]

.idea/

# Windows-specific files
desktop.ini
Thumbs.db
*.lnk

# Documentation build output only
site/

# MkDocs build output
site/

Input/*
!Input/.gitkeep
!Input/SciGrid_IGGIELGNC_1

Plans/*
!Plans/.gitkeep

